body {
    font-family: Lato, sans-serif;
    margin: 0;
    background: rgba(99, 42, 15, 0.85);
}

main {
    background: white;
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            ". newGame ."
            " p1 . p2 "
            "globalP1 des globalP2"
            ". play ."
            "roundP1 hold roundP2";
}

div,
button {
    text-align: center;
    margin: 1rem;
}

#labelTourP1,
#labelTourP2 {
    font-size: 3rem;
    color: white;
}

#labelGlobalP1,
#labelGlobalP2 {
    font-size: 5rem;
}

#reset,
#replay,
#hold {
    margin: auto;
    text-align: center;
}

#p1 {
    grid-area: p1;
    margin: auto;
}

#p2 {
    grid-area: p2;
    margin : auto;
}

#act1,
#act2{
    display: none;
}

#p1,
#p2 {
    margin: auto;
    font-size: 3rem;
}


#reset {
    grid-area: newGame;
}

#replay {
    grid-area: play;
}

#hold {
    grid-area: hold;
}

.joueur {
    grid-area: joueur;
}


.tourP1 {
    grid-area: roundP1;
}

.tourP2 {
    grid-area: roundP2;
}

.totalP1 {
    grid-area: globalP1;
}

.totalP2 {
    grid-area: globalP2;
}

.totalP1,
.totalP2,
svg {
    color: #d24646;
}

.tourP1,
.tourP2 {
    width: 9rem;
    height: 9rem;
    background: #d24646;
    margin: auto auto 3rem;
}

#des1,
#des2,
#des3,
#des4,
#des5,
#des6 {
    grid-area: des;
    margin: auto;
    display: none;
}


